@import "tailwindcss";

@theme {
  --color-obsidian: #080a0c;
  --color-panel: #0d0f12;
  --color-frame: #14171c;
  --color-border: #1f242d;
  
  --color-gold-core: #ffb800;
  --color-gold-muted: #4d4930;
  
  --color-teal-dark: #2b4c59;
  --color-bronze-dark: #4a3838;
  --color-ruby-dark: #592525;
}

body {
  margin: 0;
  background-color: var(--color-obsidian);
  color: #e2e8f0;
  font-family: 'Consolas', 'Courier New', monospace;
  overflow: hidden;
}